<div class="customization-list-container">
    <select 
        id="{{clc.customItem.customizationName}}_{{::clc.customItemId}}_select_one" 
        class="form-control" 
        name="{{clc.customItem.customizationName}}_select_one" 
        required-select="{{clc.customItem.required}}"
        ng-disabled="!clc.customizeState.isBundleEditable" 
        ng-model='clc.selectedDropdownOne' 
        ng-options='option.title for option in clc.dropdownList' 
        ng-change='clc.selectOption(clc.selectedDropdownOne)' 
    >
    </select>

    <select
        ng-if="clc.hasChildList(clc.selectedDropdownOne) && !clc.loading"  
        id="{{clc.customItem.customizationName}}_{{::clc.customItemId}}_select_two" 
        class="form-control m-t-5"
        name="{{clc.customItem.customizationName}}_select_two" 
        required-select="{{clc.customItem.required}}"
        ng-disabled="!clc.customizeState.isBundleEditable" 
        ng-model='clc.selectedDropdownTwo' 
        ng-options='option.title for option in clc.selectedDropdownOne.list'
        ng-change='clc.selectOption(clc.selectedDropdownTwo)'
    >
    </select>

    <div class="spinner" ng-if="clc.loading">
        <div class="loading-animation-container-inline">
            <div class="loading-animation-inline-small">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
            <div class="loading-animation-message-inline-small">Loading...</div>
        </div>
    </div>
</div>